body{
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
}

.kon1{
    border-top: 5px solid orange;
    margin-top: 10px;
    padding: 10px;
    background: white;
}

.kon2{
    border-top: 5px solid orange;
    margin-top: 10px;
    padding: 10px;
    background: white;
}

h1{
    color: teal;
    font-weight: 300;
}

u{
    color: orange;
}

strong{
    color: green;
}