body{
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
}
.container{
    background: gray;
    
    
}
.kon1{
    border: 1px solid white;
    margin-top: 10px;
    padding: 10px;
    color: white;
}
.kon2{
    border: 1px solid white;
    margin-top: 10px;
    padding: 10px;
    color: white;
}
p{
    color: orange;
    font-size: large;
}