.div1 > ul  {
    color: blue;
    font-size: 40px;
    background-color: skyblue;
    width: 150px;
    border-radius: 5px;
    
}

.div2 > ul > li {
    color: tomato;
    font-size: 40px;
    background-color: skyblue;
    width: 150px;
    border-radius: 5px;
    
}

