body{
    font-family: Arial, Helvetica, sans-serif;
}
h2{
    text-decoration: underline;

}
div.sticky {
    font-size: 25px;
    position: -webkit-sticky;
    position: sticky;
    top: 10px;
    padding: 5px;
    background-color: green;
    border: 2px solid green;
    color: aqua;
}
.instruction{
    font-size: large;
    color: green;
}
