.container-flex {
    width: 60%;
    height: 600px;
    display: flex;
    margin: auto;
    border: 5px solid black;
    /* to do  */
    background-color: lightgreen;
    flex-direction: row-reverse;

}

.flex-item {
    width: 150px;
    height: 150px;
    margin: 10px;
}

#flex-item-1 {
    background: teal;
}

#flex-item-2 {
    background: DarkSlateBlue;
    /* TO DO */
    align-self: flex-end;


}

#flex-item-3 {
    background: rgb(145, 146, 90);
    align-self: center;
}